*, *::before, *::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #286888;
    margin: 0;
    padding: 0;
    
}



body {
    background: linear-gradient(to right, #00ff6c, #00aaff);
    
}

.page-box {
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #00ff6c;
    padding: 25px;
    background: linear-gradient(to right, #00aaff, #00ff6c);
background: yellow
}

h1 {
    font-size: 90px;
}

#numbers {
    font-size: 65px;
    margin-top: 30px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}



